[cloud/google]
provider=google
gce_client_id=***your id here***
gce_client_secret=***client secret here***
gce_project_id=***project id here***
noauth_local_webserver=True

[login/google]
image_user=***user name****
image_user_sudo=root
image_sudo=True
user_key_name=elasticluster
user_key_private=~/.ssh/id_rsa
user_key_public=~/.ssh/id_rsa.pub

[setup/slurm]
provider=ansible
frontend_groups=slurm_master
compute_groups=slurm_worker
submit_groups=slurm_submit,glusterfs_client
global_var_multiuser_cluster=yes


[cluster/mycluster]
cloud=google
login=google
security_group=default
#image_id=****choose OUTPUT FROM: gcloud compute images list | grep "$YOUR_GOLD_IMAGE"  "****
image_id=https://www.googleapis.com/compute/v1/projects/<project>/images/gold-image
boot_disk_type=pd-ssd
boot_disk_size=50
flavor=n1-standard-96
setup=slurm
frontend_nodes=1
compute_nodes=4
compute_nodes_min=2
ssh_to=frontend
min_cpu_platform=Intel Skylake

[cluster/mycluster/frontend]
flavor = n1-standard-1
