[cloud/amazon-us-west-2]
provider=ec2_boto
ec2_url=https://ec2.us-west-2.amazonaws.com
ec2_access_key=*****your key here******
ec2_secret_key=****your key here*******
ec2_region=us-west-2
#request_floating_ip=False

[login/centos]
image_user=ec2-user
image_sudo=True
user_key_name=elasticluster
user_key_private=~/.ssh/id_rsa
user_key_public=~/.ssh/id_rsa.pub

[setup/slurm]
provider=ansible
frontend_groups=slurm_master
compute_groups=slurm_worker
submit_groups=slurm_submit,glusterfs_client
global_var_multiuser_cluster=yes

[cluster/awscluster]
cloud=amazon-us-west-2
login=centos
security_group=default
#Intel customized image_id or your own image_id
image_id=ami-29a96751
flavor=c5.xlarge

setup=slurm
frontend_nodes=1
compute_nodes=4
compute_nodes_min=2
ssh_to=frontend

[cluster/awscluster/frontend]
flavor = m1.small
